aiohttp==3.9.5
APScheduler==3.10.4
clickhouse-connect==0.10.0
dash==3.3.0
dash-bootstrap-components==2.0.4
Flask-Caching==2.3.1
gunicorn==23.0.0
numpy==2.3.4
orjson==3.11.5
pandas==2.3.3
plotly==6.5.0

# Optional utilities (used by preprocess/detectors_in_mn.py)
folium==0.20.0
geopy==2.4.1
streamlit==1.51.0
streamlit-cookies-controller==0.0.4
streamlit-sortables==0.3.1
streamlit-url-fragment==0.2.1
streamlit_folium==0.22.0
